# Connect-4 data generator V3

In [1]:
import numpy as np
import random
from tqdm.auto import tqdm
import time
import pandas as pd
from C4.c4_move_data_generator import *

print("All dependencies imported successfully.")

All dependencies imported successfully.

In [2]:
PLAYS = {
    # "L1":   {"A": 1, "B": 1, "games": 22},

    # "L2":   {"A": 2, "B": 2, "games": 22},
    # "L2L1": {"A": 2, "B": 1, "games": 22},
    # "L1L2": {"A": 1, "B": 2, "games": 22},

    # "L3":   {"A": 3, "B": 3, "games": 22},
    #"L3L1": {"A": 3, "B": 1, "games": 22},
    # "L3L2": {"A": 3, "B": 2, "games": 22},
    #"L1L3": {"A": 1, "B": 3, "games": 22},
    # "L2L3": {"A": 2, "B": 3, "games": 22},

    # "L4":   {"A": 4, "B": 4, "games": 10},
    # "L4L1": {"A": 4, "B": 1, "games": 10},
    # "L4L2": {"A": 4, "B": 2, "games": 10},
    # "L4L3": {"A": 4, "B": 3, "games": 10},
    # "L1L4": {"A": 1, "B": 4, "games": 10},
    # "L2L4": {"A": 2, "B": 4, "games": 10},
    # "L3L4": {"A": 3, "B": 4, "games": 10},

    # "L5":   {"A": 5, "B": 5, "games": 20},
    # "L5L1": {"A": 5, "B": 1, "games": 10},
    # "L5L2": {"A": 5, "B": 2, "games": 10},
    # "L5L3": {"A": 5, "B": 3, "games": 10},
    # "L5L4": {"A": 5, "B": 4, "games": 10},
    # "L1L5": {"A": 1, "B": 5, "games": 10},
    # "L2L5": {"A": 2, "B": 5, "games": 10},
    # "L3L5": {"A": 3, "B": 5, "games": 10},
    # "L4L5": {"A": 4, "B": 5, "games": 10},

    # "L6":   {"A": 6, "B": 6, "games": 20},
    # "L6L1": {"A": 6, "B": 1, "games": 10},
    # "L6L2": {"A": 6, "B": 2, "games": 10},
    # "L6L3": {"A": 6, "B": 3, "games": 10},
    # "L6L4": {"A": 6, "B": 4, "games": 10},
    # "L6L5": {"A": 6, "B": 5, "games": 10},
    # "L1L6": {"A": 1, "B": 6, "games": 10},
    # "L2L6": {"A": 2, "B": 6, "games": 10},
    # "L3L6": {"A": 3, "B": 6, "games": 10},
    # "L4L6": {"A": 4, "B": 6, "games": 10},
    # "L5L6": {"A": 5, "B": 6, "games": 10},

    "L7":   {"A": 7, "B": 7, "games": 10},
    "L7L1": {"A": 7, "B": 1, "games": 10},   
    "L7L2": {"A": 7, "B": 2, "games": 10}, 
    "L7L3": {"A": 7, "B": 3, "games": 10}, 
    "L7L4": {"A": 7, "B": 4, "games": 10}, 
     "L7L5": {"A": 7, "B": 5, "games": 10}, 
    "L7L6": {"A": 7, "B": 6, "games": 10}, 
    "L1L7": {"A": 1, "B": 7, "games": 10},  
    "L2L7": {"A": 2, "B": 7, "games": 10}, 
    "L3L7": {"A": 3, "B": 7, "games": 10}, 
    "L4L7": {"A": 4, "B": 7, "games": 10}, 
    "L5L7": {"A": 5, "B": 7, "games": 10}, 
    "L6L7": {"A": 6, "B": 7, "games": 10}, 
}

In [3]:
DATA_FILE = "DATA/C4.play_data.xlsx"

In [4]:
from tqdm.auto import tqdm
import pandas as pd

records = []
for label, cfg in tqdm(PLAYS.items()):
    records.extend(generate_dataset({label: cfg}, seed=666))

df_new   = records_to_dataframe(records)   # columns: label, reward, game, ply, 0-0..5-6
df_saved = upsert_excel(df_new, DATA_FILE)
print("Saved", len(df_saved), "unique rows")

  0%|          | 0/13 [00:00<?, ?it/s]

Saved 19470 unique rows

In [5]:
df_new[["reward"]].describe()

            reward
count  3782.000000
mean     53.405691
std      29.379422
min     -71.000000
25%      29.500000
50%      61.500000
75%      79.000000
max     100.000000

In [6]:
df_saved[["reward"]].describe()

             reward
count  19470.000000
mean      53.081466
std       29.400917
min      -79.000000
25%       29.500000
50%       61.250000
75%       79.000000
max      100.000000