# Connect-4 data EXTRA generator V3

In [1]:
import numpy as np
import random
from tqdm import tqdm
import pandas as pd
from C4.c4_move_data_generator import *
from C4.seed_generators_extra import generate_lx_vs_random_batch, synth_violation_pairs

print("All dependencies imported successfully.")

All dependencies imported successfully.

In [2]:
DATA_FILE = "DATA/C4.play_data.xlsx"

In [3]:
rows = []
rows += generate_lx_vs_random_batch(depths=([7]), games_per_side=3, seed=666, label_prefix="")
rows += synth_violation_pairs(label_base="SYNTH_L1", n_pairs=2, rng_seed=666)
df_new   = records_to_dataframe(rows)
df_new.head()

Depths:   0%|          | 0/1 [00:00<?, ?it/s]
L7 vs RND (+1 starts):   0%|          | 0/3 [00:00<?, ?it/s]

RND vs L7 (+1 random):   0%|          | 0/3 [00:00<?, ?it/s]
L7 vs RND (+1 starts):  33%|███▎      | 1/3 [11:48<23:37, 708.57s/it]
L7 vs RND (+1 starts):  67%|██████▋   | 2/3 [43:57<23:46, 1426.46s/it]
L7 vs RND (+1 starts): 100%|██████████| 3/3 [1:07:57<00:00, 1432.58s/it]


RND vs L7 (+1 random):  33%|███▎      | 1/3 [1:24:45<2:49:30, 5085.34s/it]

RND vs L7 (+1 random):  67%|██████▋   | 2/3 [1:45:34<47:08, 2828.82s/it]

RND vs L7 (+1 random): 100%|██████████| 3/3 [2:07:42<00:00, 2143.58s/it]

,label,reward,game,ply,0-0,0-1,0-2,0-3,0-4,0-5,...,4-4,4-5,4-6,5-0,5-1,5-2,5-3,5-4,5-5,5-6
0,L7_vs_RND,30.0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1,L7_vs_RND,-1.0,0,2,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,-1,0
2,L7_vs_RND,3.0,0,3,0,0,0,0,0,0,...,0,0,0,0,1,0,1,0,-1,0
3,L7_vs_RND,-1.0,0,4,0,0,0,0,0,0,...,0,0,0,0,1,0,1,0,-1,0
4,L7_vs_RND,41.5,0,5,0,0,0,0,0,0,...,0,0,0,0,1,1,1,0,-1,0

In [4]:
print(len(df_new), "new records")

61 new records

In [5]:
df_new[["reward"]].describe()

           reward
count   61.000000
mean     8.976913
std     44.299403
min    -81.000000
25%     -0.750000
50%      3.000000
75%     30.000000
max    100.000000

In [6]:
df_saved = upsert_excel(df_new, DATA_FILE)
df_saved[["reward"]].describe()

            reward
count  5260.000000
mean     19.946068
std      23.873803
min     -81.000000
25%       5.250000
50%      15.250000
75%      31.250000
max     100.000000

In [7]:
print("Saved", len(df_saved), "unique rows")

Saved 5260 unique rows