# Connect-4 Teacher data generator V4

In [1]:
from DQN.seed_vs_teacher import play_series_teacher_random
from C4.c4_move_data_generator import records_to_dataframe, upsert_excel

print("All dependencies imported successfully.")

All dependencies imported successfully.

In [2]:
DATA_FILE = "DATA/C4.teacher_data.xlsx"

In [3]:
rows = []
rows = play_series_teacher_random("L1CONT I DQN model.pt", 20)
df_new   = records_to_dataframe(rows)
df_new.head()

Teacher(+1) vs Random:   0%|          | 0/20 [00:00<?, ?it/s]

Random(+1) vs Teacher:   0%|          | 0/20 [00:00<?, ?it/s]

,label,reward,game,ply,0-0,0-1,0-2,0-3,0-4,0-5,...,4-4,4-5,4-6,5-0,5-1,5-2,5-3,5-4,5-5,5-6
0,L1END DQN modelLKT_vs_RND,79.0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1,L1END DQN modelLKT_vs_RND,0.0,0,2,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
2,L1END DQN modelLKT_vs_RND,29.5,0,3,0,0,0,0,0,0,...,0,0,0,0,0,0,1,1,0,0
3,L1END DQN modelLKT_vs_RND,10.0,0,4,0,0,0,0,0,0,...,0,0,0,0,0,0,1,1,0,0
4,L1END DQN modelLKT_vs_RND,42.0,0,5,0,0,0,0,0,0,...,0,0,0,0,0,0,1,1,0,0

In [4]:
print(len(df_new), "new records")

595 new records

In [5]:
df_new[["reward"]].describe()

           reward
count  595.000000
mean    33.673716
std     41.439835
min    -81.000000
25%      9.000000
50%     30.000000
75%     79.000000
max    100.000000

In [6]:
df_saved = upsert_excel(df_new, DATA_FILE)
df_saved[["reward"]].describe()

            reward
count  4599.000000
mean     31.424097
std      42.581411
min     -81.000000
25%      -0.500000
50%      29.500000
75%      79.000000
max     100.000000

In [7]:
print("Saved", len(df_saved), "unique rows")

Saved 4599 unique rows