# Connect-4 Teacher data generator V4

In [1]:
from DQN.seed_vs_teacher import play_series_teacher_random
from C4.c4_move_data_generator import records_to_dataframe, upsert_excel

print("All dependencies imported successfully.")

All dependencies imported successfully.

In [2]:
DATA_FILE = "DATA/C4.play_data.xlsx"

In [3]:
rows = []
rows = play_series_teacher_random("Connect4 DQN model.pt", 10)
#rows = play_series_teacher_random("RANDOM XVI DQN model.pt", 100)
#rows = play_series_teacher_random("MIXED XVIII DQN model.pt", 20)
#rows = play_series_teacher_random("L3 I DQN model.pt", 20)
df_new   = records_to_dataframe(rows)
df_new.head()

Teacher(+1) vs Random:   0%|          | 0/10 [00:00<?, ?it/s]

Random(+1) vs Teacher:  10%|█         | 1/10 [00:01<00:13,  1.46s/it]
Random(+1) vs Teacher:  20%|██        | 2/10 [00:01<00:05,  1.37it/s]
Random(+1) vs Teacher:  30%|███       | 3/10 [00:01<00:03,  1.98it/s]
Random(+1) vs Teacher:  40%|████      | 4/10 [00:02<00:02,  2.89it/s]
Random(+1) vs Teacher:  60%|██████    | 6/10 [00:02<00:00,  4.91it/s]
Random(+1) vs Teacher:  70%|███████   | 7/10 [00:02<00:00,  4.92it/s]
Random(+1) vs Teacher:  90%|█████████ | 9/10 [00:02<00:00,  6.04it/s]
Random(+1) vs Teacher: 100%|██████████| 10/10 [00:02<00:00,  6.45it/s]

,label,reward,game,ply,0-0,0-1,0-2,0-3,0-4,0-5,...,4-4,4-5,4-6,5-0,5-1,5-2,5-3,5-4,5-5,5-6
0,Connect4 DQN modelLKT_vs_RND,-0.500000,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,Connect4 DQN modelLKT_vs_RND,15.236671,0,2,0,0,0,0,0,0,...,0,0,0,0,0,0,-1,1,0,0
2,Connect4 DQN modelLKT_vs_RND,2.000000,0,3,0,0,0,0,0,0,...,0,0,0,0,0,0,-1,1,0,0
3,Connect4 DQN modelLKT_vs_RND,0.000000,0,4,0,0,0,0,0,0,...,0,0,0,0,0,0,-1,1,0,0
4,Connect4 DQN modelLKT_vs_RND,2.000000,0,5,0,0,0,0,0,0,...,0,0,0,0,0,0,-1,1,0,0

In [4]:
print(len(df_new), "new records")

358 new records

In [5]:
df_new[["reward"]].describe()

           reward
count  358.000000
mean     4.913178
std     41.121990
min    -81.000000
25%     -1.000000
50%      3.500000
75%     17.500000
max    100.000000

In [6]:
df_saved = upsert_excel(df_new, DATA_FILE)
df_saved[["reward"]].describe()

             reward
count  18385.000000
mean       9.719363
std       37.143565
min      -81.000000
25%       -0.500000
50%        7.500000
75%       25.250000
max      100.000000

In [7]:
print("Saved", len(df_saved), "unique rows")

Saved 18385 unique rows