# Connect-4 Teacher data generator V4

In [1]:
from DQN.seed_vs_teacher import play_series_teacher_random
from C4.c4_move_data_generator import records_to_dataframe, upsert_excel

print("All dependencies imported successfully.")

All dependencies imported successfully.

In [2]:
DATA_FILE = "DATA/C4.play_data.xlsx"

In [3]:
rows = []
#rows = play_series_teacher_random("RANDOM XVI DQN model.pt", 100)
rows = play_series_teacher_random("MIXED0 model.pt", 100)
df_new   = records_to_dataframe(rows)
df_new.head()

Teacher(+1) vs Random:   0%|          | 0/100 [00:00<?, ?it/s]

Random(+1) vs Teacher:   1%|          | 1/100 [00:15<25:36, 15.52s/it]
Random(+1) vs Teacher:   2%|▏         | 2/100 [00:15<10:38,  6.51s/it]
Random(+1) vs Teacher:   3%|▎         | 3/100 [00:15<05:49,  3.60s/it]
Random(+1) vs Teacher:   4%|▍         | 4/100 [00:16<03:39,  2.29s/it]
Random(+1) vs Teacher:   5%|▌         | 5/100 [00:16<02:23,  1.51s/it]
Random(+1) vs Teacher:   7%|▋         | 7/100 [00:16<01:13,  1.27it/s]
Random(+1) vs Teacher:   8%|▊         | 8/100 [00:16<00:56,  1.62it/s]
Random(+1) vs Teacher:   9%|▉         | 9/100 [00:16<00:43,  2.08it/s]
Random(+1) vs Teacher:  10%|█         | 10/100 [00:17<00:39,  2.27it/s]
Random(+1) vs Teacher:  11%|█         | 11/100 [00:17<00:31,  2.86it/s]
Random(+1) vs Teacher:  12%|█▏        | 12/100 [00:17<00:28,  3.11it/s]
Random(+1) vs Teacher:  13%|█▎        | 13/100 [00:17<00:23,  3.72it/s]
Random(+1) vs Teacher:  14%|█▍        | 14/100 [00:17<00:23,  3.64it/s]
Random(+1) vs Teacher:  15%|█▌        | 15/100 [00:18<00:20,  4.18it/s]
Random(+1) vs Teacher:  16%|█▌        | 16/100 [00:18<00:17,  4.92it/s]
Random(+1) vs Teacher:  18%|█▊        | 18/100 [00:18<00:15,  5.26it/s]
Random(+1) vs Teacher:  20%|██        | 20/100 [00:18<00:11,  6.96it/s]
Random(+1) vs Teacher:  21%|██        | 21/100 [00:18<00:12,  6.52it/s]
Random(+1) vs Teacher:  22%|██▏       | 22/100 [00:18<00:11,  6.80it/s]
Random(+1) vs Teacher:  24%|██▍       | 24/100 [00:19<00:09,  8.01it/s]
Random(+1) vs Teacher:  25%|██▌       | 25/100 [00:19<00:09,  8.26it/s]
Random(+1) vs Teacher:  26%|██▌       | 26/100 [00:19<00:08,  8.45it/s]
Random(+1) vs Teacher:  28%|██▊       | 28/100 [00:19<00:09,  7.67it/s]
Random(+1) vs Teacher:  30%|███       | 30/100 [00:19<00:08,  8.42it/s]
Random(+1) vs Teacher:  32%|███▏      | 32/100 [00:20<00:08,  8.03it/s]
Random(+1) vs Teacher:  33%|███▎      | 33/100 [00:20<00:08,  8.26it/s]
Random(+1) vs Teacher:  35%|███▌      | 35/100 [00:20<00:07,  8.43it/s]
Random(+1) vs Teacher:  36%|███▌      | 36/100 [00:20<00:09,  7.01it/s]
Random(+1) vs Teacher:  38%|███▊      | 38/100 [00:20<00:07,  7.76it/s]
Random(+1) vs Teacher:  39%|███▉      | 39/100 [00:21<00:08,  6.81it/s]
Random(+1) vs Teacher:  40%|████      | 40/100 [00:21<00:09,  6.12it/s]
Random(+1) vs Teacher:  41%|████      | 41/100 [00:21<00:10,  5.62it/s]
Random(+1) vs Teacher:  43%|████▎     | 43/100 [00:21<00:08,  6.99it/s]
Random(+1) vs Teacher:  44%|████▍     | 44/100 [00:21<00:08,  6.90it/s]
Random(+1) vs Teacher:  45%|████▌     | 45/100 [00:22<00:08,  6.62it/s]
Random(+1) vs Teacher:  47%|████▋     | 47/100 [00:22<00:07,  6.81it/s]
Random(+1) vs Teacher:  48%|████▊     | 48/100 [00:22<00:08,  6.41it/s]
Random(+1) vs Teacher:  49%|████▉     | 49/100 [00:22<00:08,  5.99it/s]
Random(+1) vs Teacher:  50%|█████     | 50/100 [00:22<00:07,  6.34it/s]
Random(+1) vs Teacher:  52%|█████▏    | 52/100 [00:23<00:07,  6.57it/s]
Random(+1) vs Teacher:  53%|█████▎    | 53/100 [00:23<00:07,  6.07it/s]
Random(+1) vs Teacher:  54%|█████▍    | 54/100 [00:23<00:07,  5.91it/s]
Random(+1) vs Teacher:  55%|█████▌    | 55/100 [00:23<00:08,  5.41it/s]
Random(+1) vs Teacher:  56%|█████▌    | 56/100 [00:23<00:08,  5.06it/s]
Random(+1) vs Teacher:  57%|█████▋    | 57/100 [00:24<00:07,  5.67it/s]
Random(+1) vs Teacher:  58%|█████▊    | 58/100 [00:24<00:07,  5.76it/s]
Random(+1) vs Teacher:  59%|█████▉    | 59/100 [00:24<00:08,  4.63it/s]
Random(+1) vs Teacher:  60%|██████    | 60/100 [00:24<00:07,  5.28it/s]
Random(+1) vs Teacher:  61%|██████    | 61/100 [00:24<00:06,  5.75it/s]
Random(+1) vs Teacher:  62%|██████▏   | 62/100 [00:25<00:06,  5.53it/s]
Random(+1) vs Teacher:  64%|██████▍   | 64/100 [00:25<00:06,  5.90it/s]
Random(+1) vs Teacher:  65%|██████▌   | 65/100 [00:25<00:05,  6.19it/s]
Random(+1) vs Teacher:  66%|██████▌   | 66/100 [00:25<00:06,  5.36it/s]
Random(+1) vs Teacher:  67%|██████▋   | 67/100 [00:26<00:07,  4.43it/s]
Random(+1) vs Teacher:  68%|██████▊   | 68/100 [00:26<00:06,  5.12it/s]
Random(+1) vs Teacher:  69%|██████▉   | 69/100 [00:26<00:05,  5.62it/s]
Random(+1) vs Teacher:  71%|███████   | 71/100 [00:26<00:04,  6.89it/s]
Random(+1) vs Teacher:  73%|███████▎  | 73/100 [00:26<00:03,  7.46it/s]
Random(+1) vs Teacher:  75%|███████▌  | 75/100 [00:27<00:04,  6.12it/s]
Random(+1) vs Teacher:  76%|███████▌  | 76/100 [00:27<00:03,  6.57it/s]
Random(+1) vs Teacher:  77%|███████▋  | 77/100 [00:27<00:03,  6.59it/s]
Random(+1) vs Teacher:  78%|███████▊  | 78/100 [00:27<00:03,  6.32it/s]
Random(+1) vs Teacher:  79%|███████▉  | 79/100 [00:27<00:03,  6.22it/s]
Random(+1) vs Teacher:  80%|████████  | 80/100 [00:27<00:03,  6.38it/s]
Random(+1) vs Teacher:  81%|████████  | 81/100 [00:28<00:03,  6.07it/s]
Random(+1) vs Teacher:  82%|████████▏ | 82/100 [00:28<00:03,  5.31it/s]
Random(+1) vs Teacher:  83%|████████▎ | 83/100 [00:28<00:02,  5.94it/s]
Random(+1) vs Teacher:  84%|████████▍ | 84/100 [00:28<00:03,  5.18it/s]
Random(+1) vs Teacher:  85%|████████▌ | 85/100 [00:29<00:03,  4.50it/s]
Random(+1) vs Teacher:  86%|████████▌ | 86/100 [00:29<00:03,  4.67it/s]
Random(+1) vs Teacher:  87%|████████▋ | 87/100 [00:29<00:02,  4.93it/s]
Random(+1) vs Teacher:  88%|████████▊ | 88/100 [00:29<00:02,  5.56it/s]
Random(+1) vs Teacher:  90%|█████████ | 90/100 [00:29<00:01,  7.28it/s]
Random(+1) vs Teacher:  91%|█████████ | 91/100 [00:30<00:01,  5.95it/s]
Random(+1) vs Teacher:  92%|█████████▏| 92/100 [00:30<00:01,  6.13it/s]
Random(+1) vs Teacher:  93%|█████████▎| 93/100 [00:30<00:01,  6.35it/s]
Random(+1) vs Teacher:  94%|█████████▍| 94/100 [00:30<00:01,  5.34it/s]
Random(+1) vs Teacher:  95%|█████████▌| 95/100 [00:30<00:00,  5.74it/s]
Random(+1) vs Teacher:  96%|█████████▌| 96/100 [00:30<00:00,  5.19it/s]
Random(+1) vs Teacher:  97%|█████████▋| 97/100 [00:31<00:00,  4.74it/s]
Random(+1) vs Teacher:  99%|█████████▉| 99/100 [00:31<00:00,  6.02it/s]
Random(+1) vs Teacher: 100%|██████████| 100/100 [00:31<00:00,  4.83it/s]

,label,reward,game,ply,0-0,0-1,0-2,0-3,0-4,0-5,...,4-4,4-5,4-6,5-0,5-1,5-2,5-3,5-4,5-5,5-6
0,MIXED0 modelLKT_vs_RND,30.0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1,MIXED0 modelLKT_vs_RND,0.0,0,2,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
2,MIXED0 modelLKT_vs_RND,5.5,0,3,0,0,0,0,0,0,...,0,0,0,0,0,1,1,0,0,0
3,MIXED0 modelLKT_vs_RND,2.0,0,4,0,0,0,0,0,0,...,0,0,0,0,0,1,1,0,0,0
4,MIXED0 modelLKT_vs_RND,9.5,0,5,0,0,0,0,0,0,...,0,0,0,0,0,1,1,0,0,0

In [4]:
print(len(df_new), "new records")

3417 new records

In [5]:
df_new[["reward"]].describe()

            reward
count  3417.000000
mean      5.519576
std      40.793946
min     -81.000000
25%      -0.750000
50%       5.000000
75%      21.000000
max     100.000000

In [6]:
df_saved = upsert_excel(df_new, DATA_FILE)
df_saved[["reward"]].describe()

             reward
count  11927.000000
mean      12.201146
std       34.807972
min      -81.000000
25%        1.250000
50%        9.500000
75%       27.500000
max      100.000000

In [7]:
print("Saved", len(df_saved), "unique rows")

Saved 11927 unique rows