# Connect-4 data EXTRA generator V3

In [1]:
import numpy as np
import random
from tqdm.auto import tqdm
import pandas as pd
from C4.c4_move_data_generator import *
from C4.seed_generators_extra import generate_lx_vs_random_batch, synth_violation_pairs

print("All dependencies imported successfully.")

All dependencies imported successfully.

In [2]:
DATA_FILE = "DATA/C4.random_data.xlsx"

In [3]:
rows = []
depth = 7
rows += generate_lx_vs_random_batch(depths=([depth]), games_per_side=20, seed=666, label_prefix="")
rows += synth_violation_pairs(label_base=f"SYNTH_L{depth}", n_pairs=2, rng_seed=666)
df_new   = records_to_dataframe(rows)
df_new.head()

Depths:   0%|          | 0/1 [00:00<?, ?it/s]

L7 vs RND (+1 starts):   0%|          | 0/20 [00:00<?, ?it/s]

RND vs L7 (+1 random):   0%|          | 0/20 [00:00<?, ?it/s]

Synth pairs (SYNTH_L7):   0%|          | 0/2 [00:00<?, ?it/s]

,label,reward,game,ply,0-0,0-1,0-2,0-3,0-4,0-5,...,4-4,4-5,4-6,5-0,5-1,5-2,5-3,5-4,5-5,5-6
0,L7_vs_RND,79.0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1,L7_vs_RND,-1.0,0,2,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,-1,0
2,L7_vs_RND,19.0,0,3,0,0,0,0,0,0,...,0,0,0,0,1,0,1,0,-1,0
3,L7_vs_RND,-1.0,0,4,0,0,0,0,0,0,...,0,0,0,0,1,0,1,0,-1,0
4,L7_vs_RND,79.0,0,5,0,0,0,0,0,0,...,0,0,0,0,1,1,1,0,-1,0

In [4]:
print(len(df_new), "new records")

418 new records

In [5]:
df_new[["reward"]].describe()

           reward
count  418.000000
mean    28.767580
std     43.907478
min    -81.000000
25%     -0.500000
50%     21.500000
75%     69.875000
max    100.000000

In [6]:
df_saved = upsert_excel(df_new, DATA_FILE)
df_saved[["reward"]].describe()

            reward
count  3207.000000
mean     28.656812
std      42.647742
min     -81.000000
25%      -0.500000
50%      21.000000
75%      65.826566
max     100.000000

In [7]:
print("Saved", len(df_saved), "unique rows")

Saved 3207 unique rows